---
// Import statements
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Blog" description="Latest blog posts">
    {allPosts.map((post) => (
        <div class="block col-span-12 bg-white rounded-lg shadow-xl cursor-pointer dark:bg-gradient-to-r from-dark-card to-darker-card border-gradient group">
            <!-- Wrapping the entire post in an <a> tag -->
            <a href={post.url} class="flex flex-col items-center overflow-hidden rounded-t-lg lg:flex-row md:rounded-l-lg">
                
                <!-- Image Container with overflow-hidden -->
                <div class="w-full max-w-5xl overflow-hidden">
                    <!-- Image with scale and transition effect on group hover -->
                    <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} 
                         class="w-full transition duration-1000 transform group-hover:scale-125">
                </div>
                
                <!-- Text Content Container -->
                <div class="flex flex-col justify-center w-full p-6 2xl:p-24 sm:p-12 md:justify-between">
                    <div>
                        <h2 class="mb-4 text-2xl tracking-wide transition 2xl:text-5xl/tight xl:text-4xl font-header long-transition">{post.frontmatter.title}</h2>
                        <p class="text-lg text-gray-400 dark:text-gray-300 2xl:text-2xl long-transition">{post.frontmatter.description}</p>
                    </div>
                 
                </div>
            </a>
        </div>
    ))}
</Layout>
