---

import { getTopTracks, getCurrentPlayingTrack } from "../scripts/getTopTracks.js";
import Globe from '../components/Globe';
import Layout from '../layouts/Layout.astro';
import AudioWave from '../components/AudioWave.astro';
import Marquee from '../components/Marquee.astro';
import latestRenderImage from '../images/renders/braunHF3.jpg';
import latestRenderImageClay from '../images/renders/braunHF3-clay.jpg';
import { Image } from 'astro:assets';

const refreshToken = import.meta.env.SPOTIFY_REFRESH_TOKEN;

let topTracks = [];
try {
  topTracks = await getTopTracks(refreshToken);
} catch (error) {
  console.error("Error fetching top tracks:", error);
}

let currentPlayingTrack = null;
try {
  currentPlayingTrack = await getCurrentPlayingTrack(refreshToken);
} catch (error) {
  console.error("Error fetching currently playing track:", error);
}
 

const allPosts = await Astro.glob('../pages/posts/*.md');
const latestPost = allPosts[0]; 

export { latestPost };

---

<Layout title="André's Portfolio" description="Welcome to André's Portfolio">
    
    <!-- Intro Section
    <div class="lg:col-span-9 dark:dark:bg-gradient-to-r from-dark-card to-darker-card bg-white py-24 px-12 rounded-lg flex relative items-center border-gradient" >
      <div class="z-10 flex-1">
        <div class="flex items-center mb-6 lg:mb-12">
          <h1 class="text-8xl lg:text-8xl font-bold font-header long-transition mr-4">Hi, I'm André</h1>
          <img src="/images/hangloose.png" alt="Hangloose emoji" class="w-16" />
      </div>
      
        <p class="text-lg lg:text-3xl leading-relaxed max-w-3xl text-gray-500 long-transition dark:text-white lg:max-w-4xl mb-6 lg:mb-12">
          I'm a <strong>multi-talented</strong> human specializing in <strong>design</strong> and <strong>development</strong>. Most of my time I design and build digital products. I possess a degree in <strong>Media Design</strong> and have worked on a multitude of <strong>web</strong> and <strong>print-based projects</strong>.
        </p>
        
        <p class=" text-lg lg:text-3xl/relaxed leading-relaxed max-w-xl  text-gray-500 long-transition dark:text-white lg:max-w-5xl mb-6">
          Currently, I'm working as a Front End Developer at <a href="https://www.talentadore.com" class="bg-gradient-to-tr from-blue-600 to-green-400 text-white px-2 py-1 rounded font-bold">TalentAdore.</a>
        </p>
      </div>
      <img src="/images/profile.png" alt="André's Avatar" class="avatar" />
    </div> -->

    <!-- 2xl:grid-cols-12 xl:grid-cols-3 md:grid-cols-1  -->

        <!-- Intro Section -->
        <div class="xl:col-span-3 2xl:col-span-9 dark:dark:bg-gradient-to-r from-dark-card to-darker-card bg-white py-24 px-12 rounded-lg flex sm:flex-row flex-col relative items-center border-gradient" >
          <div class="z-10 flex-1">
              <h1 class="text-8xl lg:text-xxl font-header long-transition lg:drop-shadow-[5px_5px_0px_rgba(0,0,0,0.8)] md:mr-4 lg:text-left text-center">André <br/><span class="text-gray-400">Vollrath</span></h1>
            <p class="lg:text-left text-center sm:text-6xl/relaxed leading-relaxed  text-3xl lg:drop-shadow-[3px_3px_0px_rgba(0,0,0,1)] tracking-widest font-bold text-dark-text long-transition dark:text-dark-text md:my-12 uppercase">Creative developer
            </p>
          </div>
          <img src="../src/images/profile.png" alt="André's Avatar" class="avatar" />
        </div>

    <!-- Now Section -->
    <div class="xl:col-span-1 xl:row-start-2 2xl:row-start-1 2xl:col-start-10 2xl:col-span-3 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg h-full border-gradient flex flex-col justify-between clickable-section">
      <div class="flex justify-between items-center mb-6">
        <h2 class="font-header tracking-wide text-4xl long-transition">Now</h2>
        <a href="/now" class="arrow-link">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-orange" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
        </a>
      </div>
      <ul class="list-disc pl-5 mb-4 text-xl text-gray-500 dark:text-white bullets long-transition">
        <li class="mb-4">Learning <strong class='text-dark-text'>Astro.js</strong> and <strong class='text-dark-text'>Tailwind CSS</strong></li>
        <li class="mb-4">Reading "<strong class='text-dark-text'>The Count of Monte Cristo</strong>" by <strong>Alexandre Dumas</strong></li>
        <li class="mb-4">Reading "<strong class='text-dark-text'>How to Win at Chess</strong>" by <strong>Levy Rozman</strong></li>
        <li class="mb-4">Reading "<strong class='text-dark-text'>Demon Copperhead</strong>" by <strong>Barbara Kingsolver</strong></li>
        <li class="mb-4">Practicing "<strong class='text-dark-text'>Comptine d'un autre été</strong>" by <strong>Yann Tiersen</strong> on the piano</li>
      </ul>
      
      
      
      <p class="text-right text-lg  text-gray-500 dark:text-white">Last Updated: February 6, 2024</p>
    </div>

    <!-- Latest Blog Section -->
    <div class="xl:col-start-2 xl:col-span-2 xl:row-span-2 2xl:col-span-3 2xl:row-start-2 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg h-full border-gradient clickable-section">
      <div class="flex justify-between items-center mb-6">
        <h2 class="font-header text-4xl tracking-wide long-transition">Latest Blog</h2>
        <a href={latestPost.url} class="arrow-link">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-orange" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
        </a>
      </div>
      <h3 class="text-2xl font-body  text-gray-500 long-transition dark:text-white mb-6">{latestPost.frontmatter.title}</h3>
      <div class="image-container rounded-md">
        <img src={latestPost.frontmatter.image.url} alt={latestPost.frontmatter.image.alt} class="mb-6 md:w-24 rounded-md object-cover aspect-video">
      </div>
      <p class="long-transition text-xl text-gray-500 dark:text-white">
        {latestPost.frontmatter.teaser}
      </p>
      <div class="flex justify-center">
        <button class="bg-orange rounded-full px-10 py-4 mt-12 text-white text-xl font-semibold hover:scale-105 transition-transform">Read blog post</button>
      </div>
    </div>

    <!-- About Section -->
    <div class="xl:col-span-1 xl:row-start-3 2xl:col-start-4 2xl:col-span-3 2xl:row-start-2 bg-orange sm:p-12 p-6 text-white rounded-lg h-full clickable-section bright-section">
      <div class="flex justify-between items-center mb-6">
        <h2 class="font-header tracking-wide text-4xl long-transition">About</h2>
        <a href="/about" class="arrow-link white">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-white" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
        </a>
      </div>
      <p class="text-xl">
        Hello there, I'm <strong>André Vollrath</strong>, and I'm thrilled to make your acquaintance. I'm a <strong>designer</strong> and <strong>front-end developer</strong>, deeply passionate about the digital world. With over a decade of experience under my belt, I've dedicated myself to crafting visually stunning designs and building engaging websites.
      </p>
      <p class="text-xl">
        In the realm of <strong>design</strong>, I thrive on bringing ideas to life. Whether it's fine-tuning images in <strong>Adobe Photoshop</strong> or creating stunning <strong>web designs</strong>, my passion for visual storytelling drives me to push the boundaries of creativity.
      </p>
    </div>

    <!-- Latest Render Section -->
    <div class="xl:col-span-3 xl:row-start-4 2xl:col-start-7 2xl:col-span-6 2xl:row-start-2 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg border-gradient h-full clickable-section latest-render-section" >
      <div class="flex justify-between items-center mb-6">
        <h2 class="font-header tracking-wide text-4xl long-transition">Latest Render</h2>
        <a href="/renders" class="arrow-link">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-orange" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
          </svg>
        </a>
      </div>
      <div class="image-container rounded-md">
        <Image src={latestRenderImage} alt="Latest Render"
        transition:name="latest-render"
        class="rounded-md"
        densities={[1, 1.5, 2]}
        decoding="async"
        loading="lazy"/>
        <Image
        src={latestRenderImageClay}
        alt="Wireframe Render"
        class="wireframe-image"
      />
      </div>
    </div>

    <!-- Spotify Section -->
    <div class="xl:col-span-2 xl:row-start-5 2xl:col-span-9 2xl:row-start-3 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg border-gradient h-full flex flex-col items-center overflow-visible" >
      <h2 class="font-header tracking-wide self-start mb-8 text-4xl long-transition">Spotify Top 5 <span class="text-gray-500 whitespace-nowrap text-2xl">(last 6 months)</span></h2>
      <div class="flex flex-row justify-between w-full">
        {topTracks.map((track) => (
          track && track.external_urls && track.album && track.album.images[0] ? (
            <div key={track.id}>
              <a href={track.external_urls.spotify} target="_blank" title={`${track.name} - ${track.artists.map((artist) => artist.name).join(", ")}`}>
                <img src={track.album.images[0].url} alt={`Cover art for ${track.name}`} class="w-48 xl:w-40 h-auto rounded-md shadow-lg transition-transform duration-300 hover:scale-105" />
              </a>
            </div>
          ) : null
        ))}
        </div>
        {currentPlayingTrack && currentPlayingTrack.is_playing && currentPlayingTrack.item && currentPlayingTrack.item.external_urls ? (
          <div class="currently-playing self-start mt-8">
            <a href={currentPlayingTrack.item.external_urls.spotify} target="_blank" class="flex items-center">
              <span class="mr-4 text-gray-500 dark:text-white text-xl">Playing right now: <strong class="text-dark-text">{currentPlayingTrack.item.name}</strong> by {currentPlayingTrack.item.artists.map(artist => artist.name).join(", ")}</span>  <AudioWave />
            </a>
          </div>
        ) : null}
    </div>


        <!-- Tech stack -->
        <div class="xl:col-span-3 xl:row-start-7  2xl:col-span-9 2xl:row-start-4 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white rounded-lg border-gradient h-full pb-8" >
          <h2 class="font-header tracking-wide text-4xl long-transition sm:p-12 p-6 ">Tech stack</h2>
          <Marquee words={['React', 'HTML5', 'Tailwind', 'Astro.js', 'GSAP', 'Three.js', 'CSS3', 'SASS', 'LESS', 'Git', 'Webpack', 'Vite', 'Node.js', 'ES6/ESNext']} />
        </div>

    <!-- Links Section -->
    <div class="xl:col-start-3 xl:col-span-1 xl:row-start-5 2xl:col-span-3 2xl:row-start-4 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg border-gradient h-full flex flex-col" >
      <h2 class="font-header tracking-wide mb-4 text-4xl long-transition">Links</h2>
      <div class="flex-1 flex items-center justify-center">
        <div class="grid grid-cols-2 gap-4">
          <a href="https://github.com/avollrath" target="_blank">
            <img src="/icons/github.png" alt="GitHub" class="w-32 hover:scale-105 transition-transform" />
          </a>
          <a href="https://www.instagram.com/charliefeatherlight/" target="_blank">
            <img src="/icons/instagram.png" alt="Instagram" class="w-32 hover:scale-105 transition-transform" />
          </a>
          <a href="https://www.linkedin.com/in/andrevollrath/" target="_blank">
            <img src="/icons/linkedin.png" alt="LinkedIn" class="w-32 hover:scale-105 transition-transform" />
          </a>
          <a href="https://open.spotify.com/playlist/37i9dQZF1Fa1IIVtEpGUcU?si=0d61932237bf4497" target="_blank">
            <img src="/icons/spotify.png" alt="Spotify" class="w-32 hover:scale-105 transition-transform" />
          </a>
        </div>
      </div>
    </div>

        <!-- Contact Section -->
        <div class="xl:col-start-3 xl:col-span-1 xl:row-start-6 2xl:col-start-1 2xl:col-span-4 2xl:row-start-5 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg border-gradient h-full flex flex-col justify-between" >
          <h2 class="font-header tracking-wide text-4xl mb-6 long-transition">Contact</h2>
          <div class="flex-1 flex items-center justify-center">
            <button class="bg-orange rounded-full px-6 py-8 text-white text-3xl font-semibold w-full hover:scale-105 transition-transform">Send Email</button>
          </div>
        </div>
      </div>



    <!-- Based in Section -->
    <div class="xl:col-start-1 xl:col-span-2 xl:row-start-6 2xl:col-span-8 2xl:row-start-5 dark:bg-gradient-to-r from-dark-card to-darker-card bg-white sm:p-12 p-6 rounded-lg border-gradient h-full flex flex-col" >
      <h2 class="font-header text-4xl mb-12 long-transition">Based in</h2>
      <div class="flex justify-center items-center 2xl:flex-row xl:flex-row flex-col">
        <img src="../public/basedin.svg" alt="Globe" class="2xl:w-96 h-auto w-72 xl:mr-12 mr-0 md:py-12 mb-12 dark:invert-0 invert-[.5]" >
        <div class="grid grid-flow-row gap-2">
          <h1 class="text-8xl 2xl:text-9xl mb-6 lg:mb-12 font-header">
            Helsinki<br>Finland<br><span class="text-gray-500">GMT +2</span>
          </h1>
        </div>
      </div>
    </div>



</Layout>


<style>
  .render-container {
    position: relative;
  }

  .image-container {
    position: relative;
  }

  .render-image, .wireframe-image {
    max-width: 100%;
    transition: 0.5s ease-in-out;
  }

  .wireframe-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .image-container:hover .wireframe-image {
    opacity: 1;
    transform: scale(1.1);
  }
</style>
 