---
// Import the JSON data and the date prop
import nowBooksData from '../lib/now_books.json'
const booksDate = Astro.props.booksDate
const booksForSelectedDate = nowBooksData[booksDate] || []

---

<div>
	<div class="flex flex-col mb-12">
		<hr class="my-8" />
		<h3 class="mb-8">Currently reading:</h3>
		{
			booksForSelectedDate.map((book) => (
				<div key={book.isbn} class="flex items-center mb-12">
					<img
						src={book.coverURL}
						alt={`${book.title} Book Cover`}
						class="w-32 h-auto mr-8 rounded-sm shadow-lg"
					/>
					<div>
						<p class="text-2xl font-semibold text-dark-text">{book.title}</p>
						<p>by {book.authors}</p>
					</div>
				</div>
			))
		}
	</div>
</div>
