---
import NowBooks from '../components/NowBooks.astro'
const booksDate = Astro.props.date
const colSpan = Astro.props.colSpan || 'lg:col-span-6' // Set default col-span value

// Function to format date from YYYY-MM-DD to D.M.YYYY
function formatDate(dateString) {
	const date = new Date(dateString)
	return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`
}

const formattedDate = formatDate(booksDate)
---

<div class={`${colSpan} flex flex-col`}>
	<div
		class="flex flex-col p-6 mb-8 text-xl text-gray-400 bg-white rounded-lg long-transition border-gradient from-dark-card to-darker-card dark:bg-gradient-to-r dark:text-white sm:p-12"
	>
		<h1 class="text-center long-transition font-header text-7xl xl:text-9xl">{formattedDate}</h1>
	</div>

	<div
		class="flex flex-col p-6 mb-24 text-xl text-gray-400 bg-white rounded-lg long-transition border-gradient from-dark-card to-darker-card dark:bg-gradient-to-r dark:text-white sm:p-12 md:p-24"
	>
		<slot />
		<NowBooks booksDate={booksDate} />
	</div>
</div>
