---
import NowBooks from '../components/NowBooks.astro'
const booksDate = Astro.props.date
const colSpan = Astro.props.colSpan || 'lg:col-span-6' // Set default col-span value

// Function to format date from YYYY-MM-DD to D.M.YYYY
function formatDate(dateString) {
	const date = new Date(dateString)
	return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`
}

const formattedDate = formatDate(booksDate)
---

<div class={`${colSpan} flex flex-col `}>
	<div
		class="long-transition border-gradient mb-4 sm:mb-8 flex flex-col rounded-md sm:rounded-lg bg-white from-dark-card to-darker-card p-6 text-gray-400 shadow-lg sm:p-12 sm:text-lg"
	>
		<h1 class="long-transition text-center font-header text-7xl text-orange xl:text-9xl">
			{formattedDate}
		</h1>
	</div>

	<div
		class="long-transition border-gradient mb-12 flex flex-col rounded-md sm:rounded-lg bg-white from-dark-card to-darker-card p-6 text-gray-400 shadow-lg sm:p-12 sm:text-lg"
	>
		<slot />
		<NowBooks booksDate={booksDate} />
	</div>
</div>
