---
const { title, htmlText, projectImageSrc, transitionName, altProp, iframeSrc, techStackLogos } =
	Astro.props
import { Image } from 'astro:assets'
import TechStack from '../components/TechStack.astro'
---

<div class="col-span-3 flex flex-col xl:col-span-1 2xl:col-span-4">
	<div
		class="border-gradient sm:text-md flex flex-col rounded-lg bg-white text-gray-400 shadow-lg max-md:rounded-md 3xl:text-lg"
	>
		<div class="p-6 sm:p-12">
			<h2
				class="long-transition max-sm:text-md mb-4 text-center font-header text-2xl text-orange max-sm:mb-2 3xl:text-lg"
			>
				{title}
			</h2>
			<p set:html={htmlText} class="max-sm:text-sm" />
		</div>
		{
			techStackLogos && techStackLogos.length > 0 ? (
				<div class="mb-4 text-center">
					<span class="mb-8">Tech Stack:</span>
					<TechStack logos={techStackLogos} />
				</div>
			) : (
				<TechStack />
			)
		}
	</div>
</div>
<div
	class="border-gradient sm:text-md wrapper col-span-3 mb-4 flex flex-col items-center rounded-lg bg-white p-12 text-gray-400 shadow-lg max-md:rounded-md max-md:p-4 max-sm:border-none max-sm:p-0 xl:col-span-2 2xl:col-span-8 3xl:text-lg"
>
	<div class={`image-container rounded-md ${iframeSrc ? 'cursor-pointer iframe-trigger' : ''}`}>
		<Image
			src={projectImageSrc}
			transition:name={transitionName}
			alt={altProp}
			class="rounded-md"
			decoding="async"
			loading="lazy"
		/>
	</div>
	{
		iframeSrc && (
			<div class="iframe-container hidden w-full">
				<iframe
					class="aspect-video w-full rounded-md"
					data-src={iframeSrc}
					allowfullscreen
					loading="lazy"
				/>
			</div>
		)
	}
</div>
