---
const { title, htmlText, renderImageSrc, clayRenderImageSrc, transitionName, altProp } = Astro.props
import { Image } from 'astro:assets'
---

<div class="col-span-3 flex flex-col">
	<div
		class="long-transition border-gradient flex flex-col rounded-lg bg-white text-gray-400 shadow-lg max-md:rounded-md sm:text-lg"
	>
		<div class="p-6 sm:p-12">
			<h2
				class="long-transition text-center mb-8 font-header text-2xl text-orange max-sm:mb-2 max-sm:text-lg"
			>
				{title}
			</h2>
			<p set:html={htmlText} class="max-sm:text-sm" />
		</div>
	</div>
</div>
<div
	class="long-transition border-gradient col-span-3 mb-8 flex flex-col items-center rounded-lg bg-white p-12 text-gray-400 shadow-lg max-md:rounded-md max-md:p-4 max-sm:border-none max-sm:p-0 sm:text-lg 2xl:col-span-9"
>
	<div class="image-container rounded-md">
		<Image
			src={renderImageSrc}
			transition:name={transitionName}
			alt={altProp}
			class="rounded-md"
			densities={[1, 1.5, 2]}
			decoding="async"
			loading="lazy"
		/>
		<Image src={clayRenderImageSrc} alt="Wireframe Render" class="wireframe-image" />
	</div>
</div>

<style>
	.render-container {
		position: relative;
	}

	.image-container {
		position: relative;
	}

	.render-image,
	.wireframe-image {
		max-width: 100%;
		transition: opacity 0.9s ease;
	}

	.wireframe-image {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.image-container:hover .wireframe-image {
		opacity: 1;
	}
</style>
