---
import { formatDate } from '../scripts/utils.js';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<aside class="sidebar dark:bg-gradient-to-r from-dark-card to-darker-card py-24 px-12 bg-white rounded-lg flex flex-col items-start border-gradient">
  <h2 class="text-4xl tracking-wide font-header mb-12">Other Posts</h2>
  <ul class="space-y-4">
    {allPosts.map(post => (
      <li key={post.url} class="flex flex-col mb-12">
        <a href={post.url} class="group">
          <div class="image-container rounded-md overflow-hidden">
            {post.frontmatter.image.url && (
              <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} class="w-full mb-2 object-cover aspect-video group-hover:scale-125 transition-transform duration-300 ease-in-out" />
            )}
          </div>
          <span class="text-lg font-header tracking-wide">{post.frontmatter.title}</span>
        </a>
        <span class="text-xl text-gray-500">{formatDate(post.frontmatter.pubDate)}</span>
      </li>
    ))}
  </ul>
</aside>
