---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import { formatDate } from '../scripts/utils.js'
import Prose from '../components/Prose.astro'
import { Image } from 'astro:assets'
import { resolveImage } from '../scripts/resolveImage'

const { frontmatter } = Astro.props

resolveImage(frontmatter)
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<div
		class="border-gradient flex flex-col items-center rounded-lg bg-white px-4 py-12 dark:bg-gradient-to-r sm:px-56 sm:py-24 lg:col-span-9"
	>
		<header class="blog-header text-center">
			<h1 class="long-transition mb-4 font-header leading-snug tracking-wide sm:text-4xl">
				{frontmatter.title}
			</h1>
			<div class="metadata mb-4 flex flex-col">
				<span class="mb-4 text-lg">{formatDate(frontmatter.pubDate)}</span>
				{
					frontmatter.tags && frontmatter.tags.length > 0 && (
						<div class="mt-2 inline-flex flex-wrap justify-center gap-2">
							{frontmatter.tags.map((tag) => (
								<span
									key={tag}
									class="rounded bg-orange px-2 py-1 text-xs font-semibold text-white lg:text-base"
								>
									{tag}
								</span>
							))}
						</div>
					)
				}
			</div>
			{
				frontmatter.image?.src ? (
					<Image
						src={frontmatter.image.src}
						alt={frontmatter.image.alt || 'Blog Post Image'}
						class="mb-6 w-full rounded-xl"
						decoding="async"
						loading="lazy"
					/>
				) : (
					<p>No image available</p>
				)
			}
		</header>
		<article class="blog-content max-w-full text-left text-xl leading-relaxed">
			<Prose>
				<slot />
			</Prose>
		</article>
	</div>

	<div class="lg:col-span-3">
		<Sidebar />
	</div>
</Layout>
